{% extends "layout.html" %}

{% block content %}
<div class="card mb-4">
  <div class="card-header">
    <a class="btn btn-primary" href="{{ url_for('{record}.new') }}">Add</a>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
{header_columns}
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for {record} in {records} %}
        <tr>
          <td>{{ {record}.id }}</td>
{data_columns}
          <td>
            <a href="{{ url_for('{record}.show', id={record}.id) }}">Show</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}