
                      <div class="row">
                        <div>
                          <label for="name">Name</label>
                          <input type="text" id="name" name="name" value="{{ tax.name if tax else '' }}" class="form-control">
                        </div>
                      </div>
                      <div class="row">
                        <div>
                          <label for="value">Value</label>
                          <input type="text" id="value" name="value" value="{{ tax.value if tax else '' }}" class="form-control">
                        </div>
                      </div>
                      <div class="row">
                        <div>
                          <label for="status">Status</label>
                          <select id="status" name="status" class="form-control">
                            <option value="active" {% if tax and tax.status == 'active' %}selected{% endif %}>active</option>
        <option value="suspend" {% if tax and tax.status == 'suspend' %}selected{% endif %}>suspend</option>
                          </select>
                        </div>
                      </div>

<!-- Tambahkan kolom lain sesuai kebutuhan -->
