{% extends "layout.html" %}

{% block content %}
<div class="card mb-4">
  <div class="card-header">
    <a class="btn btn-primary" href="{{ url_for('product.new') }}">Add</a>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Internal_reference</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.internal_reference }}</td>
          <td>{{ product.status }}</td>
          <td>
            <a href="{{ url_for('product.show', id=product.id) }}">Show</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}