{% extends "layout.html" %}

{% block content %}
<div class="card mb-4">
  <div class="card-header">
    Show Detail
  </div>
  <div class="card-body">
		<div>
      <div>Name: {{ product.name }}</div>
      <div>Internal_reference: {{ product.internal_reference }}</div>
      <div>Status: {{ product.status }}</div>
		</div>
		<hr>
    <a class="btn btn-secondary" href="{{ url_for('product.lists') }}">Back</a>
		<a class="btn btn-primary" href="{{ url_for('product.edit', id=product.id) }}">Edit</a>
	</div>
</div>
{% endblock %}
