<div class="row">
    <!-- Employee Image Section -->
    <div class="col-md-auto">
        <div class="card">
            <div class="card-body text-center">
                <!-- Display employee image or default image -->
                {% if employee and employee.image %}
                    <img src="" 
                         class="img-thumbnail" 
                         id="employee_image" width="100"
                         alt="Employee Image">
                {% else %}
                    <img src="{{ url_for('static', filename='images/user.svg') }}" alt="Default Image" width="100">
                {% endif %}

                <script>
                  // Mendapatkan URL gambar yang akan di-load
                  {% if employee and employee.image %}
                    var imageUrl = "{{ url_for('employee.uploaded_file', filename=employee.image) }}";

                    // Mengecek gambar menggunakan fetch untuk menangani error
                    fetch(imageUrl)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Image not found or access denied.');
                            }
                            // Jika berhasil, set gambar
                            document.getElementById('employee_image').src = imageUrl;
                        })
                        .catch(error => {
                            // Jika error terjadi, tampilkan gambar error dan set title dengan pesan error
                            document.getElementById('employee_image').src = "{{ url_for('static', filename='images/error-image-photo-icon.svg') }}";
                            document.getElementById('employee_image').title = error.message;  // Set title dengan pesan error
                        });
                  {% endif %}
                </script>

                {% if disabled == "true" %}
                {% else %}
                  <li class="nav-item dropdown list-unstyled">
                    <button class="btn btn-link nav-link py-2 px-2 d-flex align-items-center" type="button" aria-expanded="false" data-coreui-toggle="dropdown">
                      <svg class="icon icon-lg theme-icon-active">
                        <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
                      </svg>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" style="--cui-dropdown-min-width: 8rem;">
                      <li>
                          <button class="dropdown-item" type="button">
                              <input type="file" class="form-control" id="employee_image" name="image">
                              <input type="hidden" id="employee_image_cache" name="image_cache">
                          </button>
                      </li>
                      <hr>
                      {% if employee and employee.image %}
                          <li>
                              <label for="employee_remove_image" class="dropdown-item">
                                  <input type="checkbox" id="employee_remove_image" name="remove_image"> Remove
                              </label>
                          </li>
                      {% endif %}

                    </ul>
                  </li>
                {% endif %}
            </div>
        </div>
    </div>


    <!-- Employee Details Section -->
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <!-- NIK, Name, Department -->
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="employee_nik" class="form-label">NIK</label>
                        <input type="text" id="employee_nik" class="form-control" name="nik" value="{{ employee.nik if employee else '' }}" {% if disabled == "true" %} disabled {% endif %}>
                    </div>
                    <div class="col-md-4">
                      <label for="employeeName">Name</label>
                      <input type="text" class="form-control" id="employeeName" name="name"  
                        {% if employee %} value="{{ employee.name }}" {% else %} value="" {% endif %} 
                        {% if disabled == "true" %} disabled {% endif %} required>
                    </div>
                    <div class="col-md-4">
                      <label for="employeeDepartment">Department</label>
                      <select class="form-control" id="employeeDepartment" name="department" 
                        {% if disabled == 'true' %} disabled {% endif %} required>
                        <option value="">Select Department</option>
                        {% for department in departments %}
                          <option value="{{ department.id }}" 
                            {% if employee and department.id == employee.department_id %} selected {% endif %}>
                            {{ department.name }}
                          </option>
                        {% endfor %}
                      </select>
                    </div>
                </div>

                <!-- Position, Work Status, Place of Birth -->
                <div class="row mb-3">
                    <div class="col-md-4">
                      <label for="employeePosition">Position</label>
                      <select class="form-control" id="employeePosition" name="position" 
                        {% if disabled == 'true' %} disabled {% endif %} required>
                        <option value="">Select Position</option>
                        {% for position in positions %}
                          <option value="{{ position.id }}" 
                            {% if employee and position.id == employee.position_id %} selected {% endif %}>
                            {{ position.name }}
                          </option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-4">
                      <label for="employeeWorkStatus">WorkStatus</label>
                      <select class="form-control" id="employeeWorkStatus" name="work_status" 
                        {% if disabled == 'true' %} disabled {% endif %} required>
                        <option value="">Select WorkStatus</option>
                        {% for work_status in work_statuses %}
                          <option value="{{ work_status.id }}" 
                            {% if employee and work_status.id == employee.work_status_id %} selected {% endif %}>
                            {{ work_status.name }}
                          </option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-4">
                        <label for="employee_born_place" class="form-label">Place of Birth</label>
                        <input type="text" id="employee_born_place" class="form-control" name="born_place" required value="{{ employee.born_place if employee else '' }}" {% if disabled == "true" %} disabled {% endif %}>
                    </div>
                </div>

                <!-- Date of Birth, Join Date -->
                <div class="row mb-3">
                    <div class="col-md-4">
                      <label for="employeeBornDate">Date of Birth</label>
                      <input type="date" class="form-control" id="employeeBornDate" name="born_date"  
                        {% if employee %} value="{{ employee.born_date }}" {% else %} value="" {% endif %} 
                        {% if disabled == "true" %} disabled {% endif %} required>
                    </div>
                    <div class="col-md-4">
                        <label for="employee_join_date" class="form-label">Join Date</label>
                        <input type="date" id="employee_join_date" class="form-control" name="join_date" required value="{{ employee.join_date if employee else '' }}" {% if disabled == "true" %} disabled {% endif %}>
                    </div>
                </div>

                <!-- Gender, Contacts -->
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="employee_gender" class="form-label">Gender</label>
                        <select class="form-select" id="employee_gender" name="gender" {% if disabled == 'true' %} disabled {% endif %}>
                            <option value="Laki laki" {% if employee and employee.gender == 'Laki laki' %} selected {% endif %}>Laki laki</option>
                            <option value="Perempuan" {% if employee and employee.gender == 'Perempuan' %} selected {% endif %}>Perempuan</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="employee_phone_number" class="form-label">Phone Number</label>
                        <input type="text" id="employee_phone_number" class="form-control" name="phone_number" value="{{ employee.phone_number if employee else '' }}" {% if disabled == "true" %} disabled {% endif %}>
                    </div>
                    <div class="col-md-4">
                        <label for="employee_email_address" class="form-label">Email</label>
                        <input type="email" id="employee_email_address" class="form-control" name="email_address" value="{{ employee.email_address if employee else '' }}" {% if disabled == "true" %} disabled {% endif %}>
                    </div>
                </div>

                <!-- Work Schedule -->
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="employee_work_schedule" class="form-label">Work Schedule</label>
                        <select class="form-select" id="employee_work_schedule" name="work_schedule" {% if disabled == 'true' %} disabled {% endif %}>
                            <option value="6-2" {% if employee and employee.work_schedule == '6-2' %} selected {% endif %}>6-2</option>
                            <option value="6-0" {% if employee and employee.work_schedule == '6-0' %} selected {% endif %}>6-0</option>
                            <option value="5-0" {% if employee and employee.work_schedule == '5-0' %} selected {% endif %}>5-0</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
