<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages and messages|length > 0 %}
      <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1100;">
        {% for category, message in messages %}
          {% if message %}
            <div class="toast align-items-center text-bg-{{ category }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <rect width="100%" height="100%" fill="#00ff37"></rect>
                </svg>
                <strong class="me-auto">Notice</strong>
                <small>just now</small>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body bg-dark bg-opacity-10">
                {{ message }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const toastElements = document.querySelectorAll('.toast');
    toastElements.forEach(function (toastElement) {
      const toast = new coreui.Toast(toastElement);
      toast.show();
    });
  });
</script>
