
                      <div class="row">
                        <div>
                          <label for="name">Name</label>
                          <input type="text" id="name" name="name" value="{{ term_of_payment.name if term_of_payment else '' }}" class="form-control">
                        </div>
                      </div>
                      <div class="row">
                        <div>
                          <label for="code">Code</label>
                          <input type="text" id="code" name="code" value="{{ term_of_payment.code if term_of_payment else '' }}" class="form-control">
                        </div>
                      </div>

<!-- Tambahkan kolom lain sesuai kebutuhan -->
