{% extends "layout.html" %}

{% block content %}
  <div class="card mb-4">
    <div class="card-header">
      Edit Detail
    </div>
    <div class="card-body">
			<form method="POST" action="{{ url_for('currency.edit', id=currency.id) }}">
				{{ form.csrf_token }}
			  {% include 'currencies/form.html' %}
			  <hr>
    		<a class="btn btn-secondary" href="{{ url_for('currency.lists') }}">Back</a>
			  <button type="submit" class="btn btn-primary">Update</button>
			</form>
		</div>
	</div>
{% endblock %}
