
                      <div class="row">
                        <div>
                          <label for="name">Name</label>
                          <input type="text" id="name" name="name" value="{{ currency.name if currency else '' }}" class="form-control">
                        </div>
                      </div>
                      <div class="row">
                        <div>
                          <label for="symbol">Symbol</label>
                          <input type="text" id="symbol" name="symbol" value="{{ currency.symbol if currency else '' }}" class="form-control">
                        </div>
                      </div>
                      <div class="row">
                        <div>
                          <label for="precision_digit">Precision_digit</label>
                          <input type="text" id="precision_digit" name="precision_digit" value="{{ currency.precision_digit if currency else '' }}" class="form-control">
                        </div>
                      </div>

<!-- Tambahkan kolom lain sesuai kebutuhan -->
